src/main/mule/Global/IndigoApi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="IndigoAPIFlow" doc:id="3e72cc90-469f-475a-b7cd-7499d0f30c62" >
		<http:listener doc:name="Listener" doc:id="a59b5787-e90a-4e06-a10c-d333dd13e674" config-ref="HTTP_Listener_config" path="${http.listener.path}" allowedMethods="GET,POST">
			<http:error-response statusCode="#[vars.errorstatus]" >
				<http:body ><![CDATA[#[vars.errorcode default "Error encountered"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="797d1b27-d5b2-4081-ac67-3074198abfea" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bookingtype" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.bookingtype]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6435db93-8d52-4f90-a5a3-fb16f8e8ae48" message="Logger Succe"/>
		<choice doc:name="Choice" doc:id="3a08d34d-c2b4-4bc9-b933-7c20e578ac59" >
			<when expression='#[vars.bookingtype == "flight"]'>
				<logger level="INFO" doc:name="Logger" doc:id="fa9a47f0-ce5e-46a5-8ce6-87aef9e12478" message="Indigo fligts"/>
				<flow-ref doc:name="GetFlightsFlow" doc:id="efcf9d73-f670-45d4-96ec-fb1a05f97e74" name="GetFlightsFlow"/>
			</when>
			<when expression='#[vars.bookingtype == "cab"]'>
				<logger level="INFO" doc:name="Logger" doc:id="d75fc608-8c34-44a6-ba00-7334cc5e0a37" message="Indigo flights byID"/>
				<flow-ref doc:name="Flow Reference" doc:id="7d4981c8-ecc4-4d22-b028-80cf91723d18" name="GetFlightsIDFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="0e422f88-d137-49b2-90be-1b305ad6afa9" message="Default invoked"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cecaaf60-0d14-436d-b4bc-54779e315d95" >
				<logger level="INFO" doc:name="Logger" doc:id="9369de27-513c-46f0-b7c3-f7d90a91dc9f" message="Error occured , Error reason : #[error.errorMessage] , ErrorType : #[error.errorType]"/>
				<ee:transform doc:name="Transform Message" doc:id="732cecef-f785-48fb-989f-e8e68f8efc57" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorstatus" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="errorcode" ><![CDATA[%dw 2.0
output application/java
---
{
	"ErrorMessage" : " Error in Application"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
